{% extends "base_generic.html" %}

{% block content %}

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'accounts:logout' %}">Log Out</a></p>
 
  <h1>Debt Settler Home</h1>
  <p>Welcome to Debt Settler, a website developed by <em>Mishu</em>!</p>
  <h2>Dynamic content</h2>
  <p>Debt Settler has the following counts:</p>
  <ul>
    <li><strong>Clubs:</strong> {{ num_clubs }}</li>
    <li><strong>Members:</strong> {{ num_members }}</li>    
  </ul>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'accounts:login' %}">Log In</a> |
  <a href="{% url 'accounts:signup' %}">Sign Up</a>
{% endif %}

{% endblock %}


