{% extends "base_generic.html" %}

{% block content %}

  {% if is_member %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    {% if session.type == "s" %}
  
      <h1>Split sum Session: {{ session.name }}</h1>
    
    {% else %}      
      
    <h1>Zero sum Session: {{ session.name }}</h1>

    {% endif %}

      {% if session.status == "o" %}
      <button class = "settle-session", onclick = "location.href ='{{session.get_absolute_url}}/settle';">Settle</button>
      {% endif %}
      {% if session.status == "c" %}
      <button class = "settle-session", onclick = "location.href ='{{session.get_absolute_url}}/settle';">Reopen</button>
      {% endif %} 
      <br>
      <a href = "{{session.parent_club.get_absolute_url}}">Club: {{ session.parent_club.name }}</a>
    
      <div style="margin-left:20px;margin-top:20px">
        <h4>Member debts</h4>
            <div id = "members-list">
              
              {% if session.status == "o" %}              
              <div class="sums-container">
                <ul class="members-list">
                  {% for member in session.members.all %}                
                    <li>
                      <p><span class="member-name">{{ member.name }}</span> Current Debit: <span class="member-debit">{{member.debit}} </span> <button class="btn-remove" data-memberid="{{member.id}}" data-sessionid="{{session.id}}">Remove</button>
                        <form action="{% url 'home:plus-debit' session.id member.id %}" method="POST">
                          {% csrf_token %}                  
                          {{ plus_debit }}                    
                          <input type="submit" value="Submit">
                        </form>                        
                        <form action="{% url 'home:add-member-debit' session.id member.id %}" method="POST">
                          {% csrf_token %}                  
                          {{ form_debit }}                    
                          <input type="submit" value="Submit">
                        </form>
                      </p>
                    </li>                
                  {% endfor %}                
                </ul>
              </div>
              <script>
                $('.btn-remove').click(function(){
                  var session_member_id = $(this).attr("data-memberid");
                  var session_id = $(this).attr("data-sessionid");
                  $.ajax(
                  {
                      type:"DELETE",
                      url: session_id + "/" + session_member_id + "/remove",
                      headers: {
                        'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token in the headers
                      },                
                      success: function(response) {
                        // Reload the page
                        location.reload();
                      },
                  }) 
                });
              </script>
              {% else %}
              <div class="sums-container">
                <ul class="sums-list">
                  {% for sum in session.sums.all %}
                  <li class="sum-item">
                    <div class="sum-username highlight">{{sum.member.username}} :</div>
                    <div class="sum-amount">{{ sum.current_sum|floatformat:2 }}</div>
                    <div class="sum-paid {% if sum.paid %}paid{% else %}not-paid{% endif %}">
                      {% if sum.paid %}
                      Paid <button class="btn btn-outline-primary" id="unpaySum" data-sumid="{{sum.id}}">Make "Not paid"</button>
                      {% else %}
                      Not paid <button class="btn btn-outline-success" id="paySum" data-sumid="{{sum.id}}">Make "Paid"</button>
                      {% endif %}
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
                
              <div>
                {% if session.payments.count > 0 %}
                  <p>Payments:</p>
                  {% for payment in session.payments.all %}

                  <p>{{payment.from_member}} has to give {{payment.value}} to {{payment.to_member}}</p>
            
                  {% endfor %}
                
                {% else %}
                  <a href="{{session.get_absolute_url}}/make-payments">Make payments</a>
                {% endif %}

              </div>

                <script type="text/javascript">

                    $(document).on('click', '#paySum', function(){ 
                    var sum_id = $(this).attr("data-sumid");
                    $.ajax(
                    {
                        type:"GET",
                        url: "sum/"+ sum_id + "/pay",
                        headers: {
                          'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token in the headers
                        },                
                        success: function(response) {
                          // Reload the page
                          location.reload();
                        },
                    })                    
                  });                  
                 
                  $(document).on('click', '#unpaySum', function(){ 
                    var sum_id = $(this).attr("data-sumid");
                    $.ajax(
                    {
                        type:"GET",
                        url: "sum/"+ sum_id + "/unpay",
                        headers: {
                          'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token in the headers
                        },                
                        success: function(response) {
                          // Reload the page
                          location.reload();
                        },
                    })                  
                  });  

                </script>

              {% endif %}

            </div>
      
      {% if session.status == "o" %}       
      <button class = "addmembers" >Add Members</button>
      <div id = "members-to-invite">  
      </div>   
      <script type="text/javascript">
      $(document).on('click', '#add_member', function(){          
        var user = $(this).attr("data-username");
        var session_id = $(this).attr("data-session-id");
        var user_id = $(this).attr("data-user-id");
        $.ajax(
        {
            type:"POST",
            url: session_id + "/adduser",
            data: {
              settlement : 0,
              new_member_username: user,
              member_id: user_id,
              csrfmiddlewaretoken: '{{ csrf_token }}', // Add this line to include the CSRF token in the headers,
            },              
            success: function(response) {
              // Reload the page
              location.reload();
            },
        })               
      
      });

      $('.addmembers').click(function(){      
        document.getElementById("members-to-invite").innerHTML = "<ul> {% for member in session.parent_club.members.all %} <li> <button id = \"add_member\", data-username = \"{{member.username}}\", data-session-id =\"{{session.id}}\", data-user-id = \"{{member.id}}\" > + {{member.username}} </button> </li> {% endfor %} </ul>";    
      });
      </script>
      {% endif %}

    <h4>Details:</h4>
          
    <p >
    Type: {% if session.type == 'z' %} Zero sum session. {% else %} Split sum session {% endif %}
    </p> 
    <p >
    Status: {% if session.status == 'c' %} Session is closed. {% else %} Session is open {% endif %}
    </p>     

  {% else %}

    <p> You are not part of the club. Would you like to join the club? </p>
    <button> Request to join </button>

  {% endif %}

{% endblock %}