{% extends "base_generic.html" %}

{% block content %}
  <h1>Name: {{ club.name }}</h1>

  <p><strong>Owner:</strong> <a href="">{{ club.owner }}</a></p> <!-- author detail link not yet defined -->   

  <div style="margin-left:20px;margin-top:20px">
    <h4>Members</h4>   
        
        <hr>
        <p >
        {{ club.members.all}}
        </p>      
      

    <h4>Sessions</h4>        
        
        <ul>
          {% for session in club.sessions.all %}
            <li>
              <a href="{{ session.get_absolute_url }}">{{ session.id }}</a>
            </li>
          {% endfor %}
        </ul>        
            
  </div>

  <hr>
<p><a href = "{{ club.get_absolute_url }}/delete">Do you want to delete the club?</a></p>

{% endblock %}