{% extends "base_generic.html" %}

{% block content %}

  {% if is_member %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    {% if session.type == "s" %}
    <div class="session-header session-split-sum">
        <h1>Split Sum Session:</h1>
        <h2>{{ session.name }}</h2>
    </div>
    {% else %}
    <div class="session-header session-zero-sum">
        <h1>Zero Sum Session:</h1>
        <h2>{{ session.name }}</h2>
    </div>
    {% endif %}

    {% if session.status == "o" %}
    <button class="btn btn-primary session-settle" onclick="location.href='{{ session.get_absolute_url }}/settle';">Settle</button>
    {% elif session.status == "c" %}
    <button class="btn btn-warning session-reopen" onclick="location.href='{{ session.get_absolute_url }}/settle';">Reopen</button>
    {% endif %}

      <a href = "{{session.parent_club.get_absolute_url}}">Club: {{ session.parent_club.name }}</a>
    
      <div style="margin-left:20px;margin-top:20px">
        <h4>Member debts</h4>
            <div id = "members-list">
              
              {% if session.status == "o" %}              
              <div class="sums-container">
                <ul class="members-list">
                  {% for member in session.members.all %}                
                    <li>
                      <p><span class="member-name">{{ member.name }}</span> Current Debit: <span class="member-debit">{{member.debit}} </span> <button class="btn-remove" data-memberid="{{member.id}}" data-sessionid="{{session.id}}">Remove</button>
                        <form action="{% url 'home:plus-debit' session.id member.id %}" method="POST">
                          {% csrf_token %}                  
                          {{ plus_debit }}                    
                          <input type="submit" value="Submit">
                        </form>                        
                        <form action="{% url 'home:add-member-debit' session.id member.id %}" method="POST">
                          {% csrf_token %}                  
                          {{ form_debit }}                    
                          <input type="submit" value="Submit">
                        </form>
                      </p>
                    </li>                
                  {% endfor %}                
                </ul>
              </div>
              <script>
                $('.btn-remove').click(function(){
                  var session_member_id = $(this).attr("data-memberid");
                  var session_id = $(this).attr("data-sessionid");
                  $.ajax(
                  {
                      type:"GET",
                      url: session_id + "/" + session_member_id + "/remove",
                      headers: {
                        'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token in the headers
                      },                
                      success: function(response) {
                        // Reload the page
                        location.reload();
                      },
                  }) 
                });
              </script>
  
              {% else %}
              <div class="sums-container">
                <ul class="sums-list">
                  {% for sum in session.sums.all %}
                  <li class="sum-item">
                    <div class="sum-username highlight">{{sum.member.username}} :</div>
                    <div class="sum-amount">{{ sum.current_sum|floatformat:2 }}</div>
                    <!-- <div class="sum-paid {% if sum.paid %}paid{% else %}not-paid{% endif %}">
                      {% if sum.paid %}
                      Paid <button class="btn btn-outline-primary" id="unpaySum" data-sumid="{{sum.id}}">Make "Not paid"</button>
                      {% else %}
                      Not paid <button class="btn btn-outline-success" id="paySum" data-sumid="{{sum.id}}">Make "Paid"</button>
                      {% endif %}
                    </div> -->
                  </li>
                  {% endfor %}
                </ul>
              </div> 
              <p> <span class="member-name"> Bias: {{session.bias|floatformat:2}} </span> (Negative -> more money needs to be given than received. Positive -> more money needs to be received than given )</p>
              <br>
              <hr>
              <div>
                <p><strong>Payments:</strong></p>  
                {% if session.payments.count > 0 %} 
                    {% for payment in session.payments.all %}
                    <div class="payment-container">
                        <p><span class="payment-description">
                        <strong>{{ payment.from_member }}</strong> has to give <strong><span class="green">{{ payment.value|floatformat:2 }}</span></strong> to <strong>{{ payment.to_member }}</strong>
                        </span>
                        <span class="payment-status">
                        {% if payment.paid %}
                            <span class="badge bg-success">Paid</span>
                        {% else %}
                            <span class="badge bg-danger">Not paid</span>
                        {% endif %}
                        </span>
                        <span class="payment-action">
                        {% if payment.paid %}
                            <button class="btn btn-outline-primary" id="unpayPayment" data-paymentid="{{ payment.id }}">Make "Not paid"</button>
                        {% else %}
                            <button class="btn btn-outline-success" id="payPayment" data-paymentid="{{ payment.id }}">Make "Paid"</button>
                        {% endif %}
                        </p>
                    </span>
                    </div>          
                    {% endfor %}
                {% else %}
                <button class="btn btn-outline-success" onclick="location.href='{{session.get_absolute_url}}/make-payments'">Make payments</button>
                {% endif %}  
                </div>
                <script type="text/javascript">

                    $(document).on('click', '#payPayment', function(){ 
                    var payment_id = $(this).attr("data-paymentid");
                    $.ajax(
                    {
                        type:"GET",
                        url: "payment/"+ payment_id + "/pay",
                        headers: {
                          'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token in the headers
                        },                
                        success: function(response) {
                          // Reload the page
                          location.reload();
                        },
                    })                    
                  });                  
                 
                  $(document).on('click', '#unpayPayment', function(){ 
                    var payment_id = $(this).attr("data-paymentid");
                    $.ajax(
                    {
                        type:"GET",
                        url: "payment/"+ payment_id + "/unpay",
                        headers: {
                          'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token in the headers
                        },                
                        success: function(response) {
                          // Reload the page
                          location.reload();
                        },
                    })                  
                  });  

                </script>

              {% endif %}

            </div>
      
      {% if session.status == "o" %}       
      <button class = "addmembers" >Add Members</button>
      <div id = "members-to-invite">  
      </div>   
      <script type="text/javascript">
      $(document).on('click', '#add_member', function(){          
        var user = $(this).attr("data-username");
        var session_id = $(this).attr("data-session-id");
        var user_id = $(this).attr("data-user-id");
        $.ajax(
        {
            type:"POST",
            url: session_id + "/adduser",
            data: {
              settlement : 0,
              new_member_username: user,
              member_id: user_id,
              csrfmiddlewaretoken: '{{ csrf_token }}', // Add this line to include the CSRF token in the headers,
            },              
            success: function(response) {
              if (response.message === "User added successfully") {
                showMessage("success", response.message);
                location.reload();
              } else if (response.message === "User already in session") {
                showMessage("error", response.message);
              } else {
                showMessage("error", "An unknown error occurred.");
              }
            },
            error: function (xhr, errmsg, err) {
              showMessage("error", "An error occurred. Please try again.");
            },
        })               
      
      });

      function showMessage(type, message) {
      // Display the message using your preferred method (e.g., showing an alert, updating a message container, etc.)
      // For example, you can use the alert() function to display an alert with the message.
      alert(message);
      }

      $('.addmembers').click(function(){      
        document.getElementById("members-to-invite").innerHTML = "<ul> {% for member in session.parent_club.members.all %} <li> <button class=\"btn-red btn-outline-info\" id=\"add_member\" data-username = \"{{member.username}}\" data-session-id =\"{{session.id}}\" data-user-id = \"{{member.id}}\"> + {{member.username}} </button> </li> {% endfor %} </ul>";    
      });
      </script>
      {% endif %}

    <br>
    <hr>
    <h4>Details:</h4>
          
    <p>
    Type: {% if session.type == 'z' %} Zero sum session. {% else %} Split sum session {% endif %}
    </p> 
    <p >
    Status: {% if session.status == 'c' %} Session is closed. {% else %} Session is open {% endif %}
    </p>     

  {% else %}

    <p> You are not part of the club. Would you like to join the club? </p>
    <button> Request to join </button>

  {% endif %}

{% endblock %}