.sums-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.sum-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sum-username {
  white-space: nowrap;
}

.sum-paid {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
